# General
.vscode
.DS_Store
node_modules
yarn.lock
venv

# Files
*.csv

# dataset_processing 
!dataset_processing/prod_dataset/*
!dataset_processing/test_dataset/*

# backend
backend/bin/
backend/lib64
backend/pyvenv.cfg
backend/share/

# frontend
frontend/package-lock.json

